:root {
    --Skyblue: #5ec0cc;
    --cream: #f9e9cc;
    --cinza: #636363;
    --pink: #f0b3b8;
    --green: #b9d7b1;
    --yellow: #dab052;
    --turquise: #3876a4;
    --darkBlue: #2a506d;
    --babyBlue: #a7c7e7;
    --grey: #3b3b3b;
    --darkGrey: #2c2c2c;
    --chromaGreen: #048d47;
    --darkGreen: #1b5234;
    --red: #bb2f2c;


}

 /* Todas as imagens do carrossel com o mesmo tamanho */
        .carousel-item img {
            width: 100%;
            height: 90vh;         /* altura igual para todas */
            max-height: 650px;    /* limite em telas grandes */
            object-fit: cover;    /* recorta sem distorcer */
            object-position: center;
        }

        /* Em telas pequenas, reduz a altura */
        @media (max-width: 768px) {
            .carousel-item img {
                height: 40vh;
            }
        }


body {
    background-color: var(--babyBlue);
    font-family: "Climate Crisis", sans-serif;
    display: grid;
    position: relative;
}

#NavInicial {
    display: flex;;
    padding: 1rem 1rem;
    background-color: var(--turquise);
    z-index: 1000;
}

#NavInicial ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding-left: 28rem;
    padding-top: 0.25rem;
}

#TituloSite {
    text-decoration: none;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    color: var(--cream);
}

#disc {
    text-decoration: none;
    font-size: 1rem;
    color: var(--green);
}

#about {
    text-decoration: none;
    font-size: 1rem;
    color: var(--pink);
}

#prizes {
    text-decoration: none;
    font-size: 1rem;
    color: var(--yellow);
}

#NavInicial img {
    width: 30px;
    height: 30px;
}

#containerGeral {
    display: flex;
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

#subtitulo {
    font-size: 1.7rem;
    color: var(--turquise);
}

#titulo {
    font-size: 5.4rem;
    color: var(--cream);
}

#rap {
    color: var(--green);
    font-size:2.4rem;
    padding: 0.5rem;
}

#produtor {
    color: var(--pink);
    font-size:2.4rem;
    padding: 0.5rem;
}

#criativo {
    color: var(--yellow);
    font-size:2.4rem;
    padding: 0.5rem;
}

#estilista {
    color: var(--turquise);
    font-size:2.4rem;
    padding: 0.5rem;
}

#container2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 4rem;
}


#portrait1 {
    width: 40rem;
    height: 60vh;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: var(--babyBlue);
    position: relative;
    border-radius: 10px;

    
}

#portrait1 .carousel-indicators {
    position: absolute;
    left: 35%;
    transform: translateX(-50%);
    padding: 0;
    z-index: 10; /* Garante que os botões fiquem na frente da imagem */
    
    /* Se o Bootstrap sumir com o display flex, reforce aqui: */
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 8px; /* Espaçamento entre as bolinhas */
}

#albuns img {
    width: 30rem;       /* Garante que ocupe toda a largura disponível */
    height: 40rem;     /* Força TODAS as imagens a terem exatamente a mesma altura */
    object-fit: cover; /* Corta as sobras da imagem proporcionalmente para não distorcer */
    object-position: center;
    border-radius: 10px;
}

/* Aplica-se tanto ao slide normal quanto ao fade */
.carousel-item {
    /* Altere '1s' (1 segundo) para o tempo que achar melhor. O padrão do Bootstrap é 0.6s */
    transition: transform 1.2s ease-in-out, opacity 1.2s ease-in-out;
}

#container3 {
    display: block;
    clear: both;
    padding-top: 6rem;
    padding-bottom: 4rem;
    background-color: var(--cream);
}

#subtitulo2 {
    font-size: 2.5rem;
    color: var(--turquise);
    text-align: center;
    padding-bottom: 2rem;
}

#sobre {
    font-size: 1rem;
    color: var(--cinza);
    text-align: justify;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 2rem;
}

#EyePeas {
    color: var(--babyBlue);
    text-decoration: none;
}

/* Animação de fade-in para os elementos revelados */

.unrevealed {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.revealed {
    opacity: 1;
    transform: translateY(0);
}

#listaAlbuns {
    align-items: center;
    padding-left: 10rem;
    padding-right: 10rem;
}

#listaAlbuns li {
    text-align: justify;
    padding-bottom: 2rem;
    color: #636363;
    list-style: circle;

}

#mark {
    color: var(--turquise);
}

#container4 {
    display: block;
    clear: both;
    padding-top: 6rem;
    padding-bottom: 4rem;
    background-color: var(--turquise);
    height: 100%;
}

#subtitulo3 {
    font-size: 2.5rem;
    color: var(--yellow);
    text-align: center;
    padding-bottom: 2rem;
}

#moda {
    color: var(--cream);
    padding-left: 10rem;
    padding-right: 10rem;
    text-align: justify;
}

#marcas {
    color: var(--cream);
    padding-left: 10rem;
    padding-right: 10rem;
    text-align: justify;
}

#marcas li{
    padding-top: 2rem;
}

#container5 {
    display: block;
    clear: both;
    padding-top: 6rem;
    padding-bottom: 4rem;
    background-color: var(--babyBlue);
    height: 100%;
}

#subtitulo4 {
    font-size: 3rem;
    color: var(--cream);
    text-align: center;
    padding-bottom: 2rem;
}

#discography {
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 90%;
    gap: 2rem;
    padding-top: 3rem;
    flex-wrap: wrap; /* Permite que os discos quebrem para a próxima linha se não houver espaço suficiente */
}

.disco {
    width: 17rem;       /* Garante que ocupe toda a largura disponível */
    height: 17rem;     /* Força TODAS as imagens a terem exatamente a mesma altura */
    object-fit: cover; /* Corta as sobras da imagem proporcionalmente para não distorcer */
}

.disco img {
    width: 100%;
    height: 40vh;         /* altura igual para todas */
    max-height: 650px;    /* limite em telas grandes */
    object-fit: cover;    /* recorta sem distorcer */
    object-position: center;
    border-radius: 10px;
    transition: 0.3s; /* Faz a imagem ficar redonda */
}

.disco img:hover {
    transform: scale(1.05); /* Aumenta a imagem em 5% */
    transition: transform 0.3s; /* Animação suave */
}

/*Abrir sidebar*/

.open-sidebar {
    left: 0; /* Move a barra para dentro da tela */
}


#sidebar {
    left: 0; /* Esconde a barra fora da tela */ /* Garante que a barra fique acima de outros elementos */
    z-index: 900;
    position: fixed;
    top: 60px; /* Garante que a barra fique acima de outros elementos */
    background-color: var(--darkBlue);
    transform: translateX(-100%);
    transition: transform 0.35s ease;
    width: 265px;
    height: 100%;
    padding-top: 2rem;
}

#sidebar.open {
    transform: translateX(0);
    transition: transform 0.35s ease;
  }

#sidebar ul {
    list-style-type: none;
}

#SidebarTitle {
    color: var(--cream);
    font-size: 1.8rem;
    margin-bottom: 2rem;
    padding-left: 1.4rem;
    padding-right: 1rem;
}

#ChromaTheme {
    color: var(--Skyblue);
    font-size: 1.1rem;
    text-decoration: none;
    display: block; /* Faz com que o link ocupe toda a largura disponível */
    padding-bottom: 1rem;
    padding-right: 1rem;
    background-color: transparent; /* Garante que o fundo seja transparente */
    border: none; /* Remove qualquer borda */
    
}

#IgorTheme {
    color: var(--Skyblue);
    font-size: 1.1rem;
    text-decoration: none;
    display: block; /* Faz com que o link ocupe toda a largura disponível */
    padding-bottom: 1rem;
    background-color: transparent; /* Garante que o fundo seja transparente */
    border: none; /* Remove qualquer borda */
}

#FlowerTheme {
    color: var(--Skyblue);
    font-size: 1.1rem;
    text-decoration: none;
    display: block; /* Faz com que o link ocupe toda a largura disponível */
    padding-bottom: 1rem;
    background-color: transparent; /* Garante que o fundo seja transparente */
    border: none; /* Remove qualquer borda */
}

#dontTheme {
    color: var(--Skyblue);
    font-size: 1.1rem;
    text-decoration: none;
    display: block; /* Faz com que o link ocupe toda a largura disponível */
    padding-bottom: 1rem;
    background-color: transparent; /* Garante que o fundo seja transparente */
    border: none; /* Remove qualquer borda */
}

#CallMe {
    color: var(--Skyblue);
    font-size: 1.1rem;
    text-decoration: none;
    display: block; /* Faz com que o link ocupe toda a largura disponível */
    padding-bottom: 1rem;
    background-color: transparent; /* Garante que o fundo seja transparente */
    border: none; /* Remove qualquer borda */
}

#overlay {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.35s ease;
    z-index: 800;
}

#overlay.show {
    opacity: 1;
    pointer-events: auto;
  }

#tema {
    border: 0px;
    background-color: transparent;
}
